# Pandas 24 useful exercises with solutions
### https://www.kaggle.com/code/icarofreire/pandas-24-useful-exercises-with-solutions

## 1. How to create a series from a list, numpy array and dict?

In [2]:
import numpy as np
import pandas as pd

test_list = [10, 11, 12, 13, 14, 15, 16, 17]
print(test_list)

test_array = np.array([1, 5, 7, 8])
print(test_array)

test_dict = {"a":  0, 
             "b":1, 
             "c":2, 
             "d":3, 
             "e":5}
print(test_dict)

[10, 11, 12, 13, 14, 15, 16, 17]
[1 5 7 8]
{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 5}

In [3]:
series_1 = pd.Series(test_list)
series_2 = pd.Series(test_array)
series_3 = pd.Series(test_dict)

print(series_1)
print(series_2)
print(series_3)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
dtype: int64
0    1
1    5
2    7
3    8
dtype: int64
a    0
b    1
c    2
d    3
e    5
dtype: int64

## 5. How to get useful infos.

In [4]:
series_1.describe()

In [5]:
series_1.describe()

In [6]:
series_3.describe()

## 9. How to extract items at given positions from a series

In [7]:
print(series_1)
series_index= [0, 2, 4]
series_1.loc[series_index]

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
dtype: int64

In [8]:
series_1.take(series_index)

In [9]:
# 8. How to find the positions of numbers that are multiples of 3 from a series?

print(series_1)
div_3_series = series_1.where(lambda x: x % 3 == 0).dropna()
print(div_3_series)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
dtype: int64
2    12.0
5    15.0
dtype: float64

## 13. How to convert a series of date-strings to a timeseries?

In [10]:
date_series = pd.Series(['13 Feb 2010', '02-09-2011', '20200706', '2021/04/01', '1988-10-11', '2000-02-01T03:10'])
print(date_series)

0         13 Feb 2010
1          02-09-2011
2            20200706
3          2021/04/01
4          1988-10-11
5    2000-02-01T03:10
dtype: object

In [11]:
date_df = pd.to_datetime(date_series)
date_df

## 17. How to import only specified columns from a csv file?

In [15]:
df = pd.read_csv('Data3.csv')
df.columns = ['A', 'B', 'C', 'D', "Target"]
df.head(10)
df.to_csv('Data3_withColumnNames.csv')

In [16]:
requirement_columns = ['A', 'B', 'Target']
work_df = pd.read_csv('Data3_withColumnNames.csv', usecols = requirement_columns)
work_df.head()

,A,B,Target
0,79,38,0
1,77,11,0
2,71,99,1
3,0,15,1
4,48,38,0

## 21. How to filter every Nth row in a dataframe
### From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

In [18]:
car_df = pd.read_csv('Cars93.csv')
car_df.head()

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [20]:
car_df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]

,Manufacturer,Model,Type
0,Acura,Integra,Small
20,Chrysler,LeBaron,Compact
40,Honda,Prelude,Sporty
60,Mercury,Cougar,Midsize
80,Subaru,Loyale,Small