### Lecture 5: Pandas

In [ ]:
import pandas as pd

input_data = pd.read_csv('EURUSD.csv')
input_data.head()

In [16]:
input_data.columns

Index(['<TICKER>', '<DTYYYYMMDD>', '<TIME>', '<OPEN>', '<HIGH>', '<LOW>',
       '<CLOSE>', '<VOL>'],
      dtype='object')

In [17]:
input_data.describe()

,<DTYYYYMMDD>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
count,7.753653e+06,7.753653e+06,7.753653e+06,7.753653e+06,7.753653e+06,7.753653e+06,7753653.0
mean,2.011782e+07,1.163201e+05,1.218301e+00,1.218367e+00,1.218236e+00,1.218302e+00,4.0
std,6.185377e+04,6.817181e+04,1.483550e-01,1.483732e-01,1.483370e-01,1.483551e-01,0.0
min,2.001010e+07,0.000000e+00,8.350000e-01,8.350000e-01,8.350000e-01,8.350000e-01,4.0
25%,2.006122e+07,6.000000e+04,1.120900e+00,1.120900e+00,1.120800e+00,1.120900e+00,4.0
50%,2.012040e+07,1.149000e+05,1.214800e+00,1.214800e+00,1.214700e+00,1.214800e+00,4.0
75%,2.017072e+07,1.736000e+05,1.325100e+00,1.325200e+00,1.325000e+00,1.325100e+00,4.0
max,2.022113e+07,2.359000e+05,1.603300e+00,1.603600e+00,1.602700e+00,1.603400e+00,4.0

In [18]:
df = input_data.drop(['<TICKER>', '<TIME>', '<VOL>'], axis=1)
df.head()

,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>
0,20010102,0.9507,0.9507,0.9507,0.9507
1,20010102,0.9506,0.9506,0.9505,0.9505
2,20010102,0.9505,0.9507,0.9505,0.9506
3,20010102,0.9506,0.9506,0.9506,0.9506
4,20010102,0.9506,0.9506,0.9506,0.9506

In [23]:
df.columns = ['Data', 'Open', 'High', 'Low', 'Close']
df.head(10)

,Data,Open,High,Low,Close
0,20010102,0.9507,0.9507,0.9507,0.9507
1,20010102,0.9506,0.9506,0.9505,0.9505
2,20010102,0.9505,0.9507,0.9505,0.9506
3,20010102,0.9506,0.9506,0.9506,0.9506
4,20010102,0.9506,0.9506,0.9506,0.9506
5,20010102,0.9506,0.9506,0.9506,0.9506
6,20010102,0.9505,0.9507,0.9505,0.9507
7,20010102,0.9507,0.9507,0.9507,0.9507
8,20010102,0.9507,0.9507,0.9507,0.9507
9,20010102,0.9507,0.9507,0.9507,0.9507

In [22]:
df.describe()

,Open,High,Low,Close
count,7.753653e+06,7.753653e+06,7.753653e+06,7.753653e+06
mean,1.218301e+00,1.218367e+00,1.218236e+00,1.218302e+00
std,1.483550e-01,1.483732e-01,1.483370e-01,1.483551e-01
min,8.350000e-01,8.350000e-01,8.350000e-01,8.350000e-01
25%,1.120900e+00,1.120900e+00,1.120800e+00,1.120900e+00
50%,1.214800e+00,1.214800e+00,1.214700e+00,1.214800e+00
75%,1.325100e+00,1.325200e+00,1.325000e+00,1.325100e+00
max,1.603300e+00,1.603600e+00,1.602700e+00,1.603400e+00

In [2]:
import win32com.client as wc

word= wc.Dispatch('Word.Application')

doc = None

try:
    doc = word.Documents.Open(r'Capital buildings.docx')

    if doc is not None:
        #Do whatever you want with the doc
        print('Word count:',doc.Characters.Count)

        doc.Close()
    else:
        print('Could not open file')

except:
    print('Word Exception')

word.Quit()

ModuleNotFoundError: ModuleNotFoundError: No module named 'win32com'