In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("Data3.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   66      274 non-null    int64
 1   10      274 non-null    int64
 2   29      274 non-null    int64
 3   87      274 non-null    int64
 4   1       274 non-null    int64
dtypes: int64(5)
memory usage: 10.8 KB

In [4]:
df.head()

,66,10,29,87,1
0,79,38,51,52,0
1,77,11,58,66,0
2,71,99,21,66,1
3,0,15,56,83,1
4,48,38,23,85,0

In [5]:
df.columns = ['A', 'B', 'C', 'D', "Target"]

In [6]:
df.head()

,A,B,C,D,Target
0,79,38,51,52,0
1,77,11,58,66,0
2,71,99,21,66,1
3,0,15,56,83,1
4,48,38,23,85,0

In [7]:
df.describe()

,A,B,C,D,Target
count,274.000000,274.000000,274.000000,274.000000,274.000000
mean,49.642336,49.087591,52.375912,50.142336,0.540146
std,28.474714,29.159276,29.156034,29.346699,0.499298
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26.000000,24.000000,26.250000,25.000000,0.000000
50%,51.500000,50.000000,54.500000,50.000000,1.000000
75%,73.750000,73.750000,78.000000,76.750000,1.000000
max,100.000000,100.000000,100.000000,100.000000,1.000000

In [8]:
!pwd

/data/notebook_files

In [9]:
data_wt = df.drop("Target",axis=1)

In [10]:
data_wt.head()

,A,B,C,D
0,79,38,51,52
1,77,11,58,66
2,71,99,21,66
3,0,15,56,83
4,48,38,23,85

In [11]:
minmaxsc = MinMaxScaler()

In [12]:
data_in = pd.DataFrame(minmaxsc.fit_transform(data_wt), 
                       columns=["A","B","C","D"])

In [13]:
data_in.head()

,A,B,C,D
0,0.79,0.38,0.51,0.52
1,0.77,0.11,0.58,0.66
2,0.71,0.99,0.21,0.66
3,0.00,0.15,0.56,0.83
4,0.48,0.38,0.23,0.85

In [14]:
data_in.describe()

,A,B,C,D
count,274.000000,274.000000,274.000000,274.000000
mean,0.496423,0.490876,0.523759,0.501423
std,0.284747,0.291593,0.291560,0.293467
min,0.000000,0.000000,0.000000,0.000000
25%,0.260000,0.240000,0.262500,0.250000
50%,0.515000,0.500000,0.545000,0.500000
75%,0.737500,0.737500,0.780000,0.767500
max,1.000000,1.000000,1.000000,1.000000

In [15]:
data_new=pd.concat([data_in, df["Target"]],axis=1)

In [16]:
data_new.head()

,A,B,C,D,Target
0,0.79,0.38,0.51,0.52,0
1,0.77,0.11,0.58,0.66,0
2,0.71,0.99,0.21,0.66,1
3,0.00,0.15,0.56,0.83,1
4,0.48,0.38,0.23,0.85,0

In [17]:
X=data_new.drop("Target",axis=1)
y=data_new[["Target"]]

In [18]:
X_train, X_Test, y_train, y_test=train_test_split(X,y, test_size=0.33)

In [19]:
len(y_train), len(y_test)

(183, 91)

In [20]:
model=RandomForestClassifier()

In [21]:
model.fit(X_train, y_train)

<ipython-input-21-d768f88d541e>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

RandomForestClassifier()

In [22]:
y_pred=model.predict(X_Test)

In [23]:
print(y_pred)

[1 0 0 0 1 0 0 1 0 1 0 1 1 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 0 0 1 1 0 1 0 0 1 1 0 1 0 0 1 1 1 1 0 0 1 1 1 0 0 0 1 0 0 1 1 0 0 1 1 1
 0 1 0 1 0 1 0 1 1 1 0 0 0 0 1 0 0]

In [24]:
len(y_pred), len(y_test)

(91, 91)

### Task  
#### Please compare the resulting data contained in y_test and y_pred. 
To do this, please calculate how many times the predictions are correct
(that is, how many times y_pred[i] is equal to y_test[i], i = 0, 1, 2,.., len(y_test), and how many times it is not equal). Please provide your answer
in percent, and give a few words of comment. Please use your own notebooks.

In [25]:
type(y_test)

pandas.core.frame.DataFrame

### y_test has a pandas dataframe type. So we need to convert it to the numpy_array

In [26]:
numpy_y_test = y_test.to_numpy()
print(type(numpy_y_test), len(numpy_y_test))

<class 'numpy.ndarray'> 91

### Checkin is there is some different in the arrays

In [27]:
for i in range(len(y_pred)):
    print(y_pred[i], end = ' - ')
    print(int(numpy_y_test[i]))

1 - 0
0 - 1
0 - 1
0 - 1
1 - 1
0 - 0
0 - 1
1 - 1
0 - 0
1 - 1
0 - 1
1 - 1
1 - 0
0 - 0
0 - 0
0 - 1
1 - 1
0 - 1
0 - 0
1 - 0
0 - 1
1 - 0
0 - 1
0 - 1
1 - 1
0 - 1
0 - 0
0 - 0
1 - 1
1 - 0
0 - 1
0 - 1
0 - 0
0 - 0
0 - 0
0 - 1
1 - 1
0 - 1
0 - 0
0 - 1
1 - 1
1 - 1
0 - 0
1 - 1
0 - 1
0 - 1
1 - 0
1 - 0
0 - 1
1 - 1
0 - 0
0 - 0
1 - 1
1 - 1
1 - 1
1 - 1
0 - 1
0 - 1
1 - 1
1 - 1
1 - 1
0 - 0
0 - 1
0 - 1
1 - 0
0 - 0
0 - 1
1 - 0
1 - 1
0 - 1
0 - 0
1 - 1
1 - 1
1 - 1
0 - 1
1 - 0
0 - 1
1 - 0
0 - 1
1 - 1
0 - 1
1 - 1
1 - 1
1 - 0
0 - 1
0 - 0
0 - 1
0 - 0
1 - 1
0 - 1
0 - 0

### We are definitely seeing them, so let's check the number of wrong predictions

In [28]:
error_numbers = 0
for i in range(len(y_pred)):
    error_numbers += abs(float(y_pred[i] - numpy_y_test[i]))

accuracy = 1 - error_numbers / len(y_pred)
print(f"The accuracy of our model is {accuracy * 100} per cent")

The accuracy of our model is 51.64835164835164 per cent